/* CSS files add styling rules */

body {
  font-family: arial, sans-serif;
  background: #fff;
  height: 100vh; /* height of this element is equal to 100% of the viewport height */
  text-align: justify;
}

.centered-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 3%;
  padding-bottom: 3%;
}

.bouncy-img {
  width: 6%;
  height: 6%;
}

.bouncy-img:hover {
  animation: bounce 1s;
}

/* style for top Navbar */

.spaced-items {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  padding-top: 2%;
  padding-bottom: 2%;
}

/* a solid line on the top to divide content with the footer */

.top-divider {
  border-style: solid none none none;
}

/* horizontal line divider */

.bottom-divider {
  border-style: none none solid none;
}

/* https://www.developerdrive.com/8-simple-css-hover-effects/ */
@keyframes bounce {
  0%,
  20%,
  60%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

.introduction {
  width: 500px;
  font-size: 20px;
  color: rgb(0, 0, 0);
  padding-left: 20px;
}

.footer-bottom {
  font-size: 1.1em;
  font-weight: bold;
  color: rgb(44, 44, 48);
  text-align: center;
}

.bluediv {
  width: 600px;
  padding-left: 20px;
}

p {
  font-size: 20px;
  color: rgb(0, 0, 0);
}

h2 {
  text-shadow: 2px 2px 5px rgb(0, 255, 85);
}

h3 {
  text-shadow: 2px 2px 5px rgb(0, 255, 85);
}

ul {
  font-size: 20px;
  color: rgb(0, 0, 0);
}

/* styling the images */

.row-images1 img {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 350px;
  right: 50px;
}

.row-images2 img {
  width: 310px;
  height: 270px;
  position: absolute;
  top: 710px;
  right: 50px;
}

.row-images3 img {
  width: 300px;
  height: 250px;
  position: absolute;
  top: 1000px;
  right: 50px;
}
